img.logo-image {
    width: 118px !important;
    height: 102px !important;
}

.logo {
    background-color: #41464b;
    border-radius: 50%;
    width: 124px;
    height: 115px;
}

.footer {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.card-cornsilk {
    background-color: cornsilk;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-text-cornsilk {
    min-height: 69.23px;
}

.dropify-wrapper .dropify-message p {
    font-size: 20px;
}

.dropify-wrapper.is-invalid {
    border-color: #dc3545;
}

.card-image-banner {
    min-height: 289.43px;
}

.preview-image:hover>.image-zone {
    cursor: move;
    opacity: .9;
}

.text-orange {
    color: #fd7e14;
}

.preview-images-zone {
    width: 100%;
    /* border: 1px solid #ddd; */
    /* min-height: 180px; */
    /* display: flex; */
    padding: 5px 5px 0px 5px;
    position: relative;
    overflow: auto;
}

.preview-images-zone>.preview-image {
    height: 96px;
    width: 219px;
    position: relative;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px dashed #5399E3;
    box-sizing: border-box;
    border-radius: 8px;
}

.preview-images-zone>.preview-image>.image-zone {
    width: 100%;
    height: 100%;
}

.preview-images-zone>.preview-image>.image-zone>img {
    width: 100%;
    height: 100%;
}

.preview-images-zone>.preview-image>.tools-edit-image {
    position: absolute;
    z-index: 100;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}

.preview-images-zone>.preview-image>.image-cancel {
    background: #BA0202;
    color: #fff;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    cursor: pointer;
    z-index: 100;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 50%;
}