/* -----------------------------
01. Font Settings
02. General Settings
03. Helpfull Classes
04. Proloader Style
05. Lines Style
06. Section Style
07. Navigation Style
08. Slider
09. About Style
10. Team Style
11. Services Style
12. Gallery Style
13. Projects Style
14. Blog Style
15. Contact Style
16. Footer Style
17. Media Query
----------------------------- */


/* ======= Fonts Settings (Mukta | Playfair Display) ======= */

@import url('https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700|Playfair+Display:400,500,600,700&amp;display=swap');

/* ======= General Settings ======= */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}
html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
    line-height: 1.75em;
    font-weight: 400;
    color: #999;
    background: #191919;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    line-height: 1.75em;
    color: #ff0000;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 15px;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    color: #ff0000;
}
p {
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
    line-height: 1.75em;
    font-weight: 400;
    color: #999;
}
a {
    color: #ff0000;
}
a:focus,
a:hover {
    color: #ff0000;
}
a:active,
a:hover {
    outline: 0;
}
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}
b,
strong {
    color: #ff0000;
}
img {
    width: 100%;
    height: auto;
}
ol li {
    font-family: "Mukta", sans-serif;
    font-size: 14px;
    line-height: 1.75em;
    font-weight: 400;
}
sup,
sub {
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    line-height: 1.75em;
    font-weight: 400;
}
th {
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 14px;
}
thead {
    border-bottom: 1px solid #f2f2f2;
    text-transform: uppercase;
    color: #999;
    font-size: 14px;
}
button {
    -webkit-appearance: none;
    background: none;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
blockquote {
    font-weight: 400;
}
button,
input,
optgroup,
select,
textarea {
    font-family: 'Mukta', sans-serif;
}
input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
textarea:focus {
    outline: none;
}
input[type="password"],
input[type="email"],
input[type="text"],
input[type="file"],
textarea {
    max-width: 100%;
    margin-bottom: 15px;
    padding: 10px 10px 10px;
    height: auto;
    background-color: #222;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0 0 0px;
    border-style: solid;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.75em;
    font-weight: 400;
    color: #999;
    background-image: none;
    border-color: ease-in-out .15s, box-shadow ease-in-out .15s;
    outline: none;
}
input:focus,
textarea:focus {
    outline: none;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    text-shadow: none;
    padding: 10px 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 1.75em;
    font-weight: 400;
    border-style: solid;
    color: #fff;
    border-width: 0;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
    background-color: #ff0000;
    margin-top: 0px;
    border-radius: 30px;
}
button:hover {
    background-color: #222;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #191919;
}
select {
    padding: 10px;
    border-radius: 5px;
}
table,
th,
tr,
td {
    border: 1px solid #191919;
}
th,
tr,
td {
    padding: 10px;
}
input[type="radio"],
input[type="checkbox"] {
    display: inline;
}


/* ======= Helpfull Classes ======= */
.o-hidden {
    overflow: hidden;
}
.pos-re {
    position: relative;
}
.full-width {
    width: 100% !important;
}
.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-fixed {
    background-attachment: fixed;
}
.v-middle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
.valign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
figure {
    margin: 0 0 30px;
}
span,
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.bb {
    border-bottom: 1px solid #222;
}
.mt-20 {
    margin-top: 20px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-60 {
    margin-top: 60px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-60 {
    margin-bottom: 60px;
}
.pt-130 {
    padding-top: 130px;
}
.pozo-form-component {
    margin-bottom: 5px;
    position: relative;
}
.bg-dark {
    background-color: #191919 !important;
}
/* owl theme */
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 20px;
    line-height: .7;
}
.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 0 8px;
    border-radius: 50%;
    background: #ddd;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff0000;
}
.flex-grow-1 {
    flex-grow: 1;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.flex-center-x {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.next-header-container {
    margin: 40px 0;
}
.next-header-container .logo {
    width: 130px;
}
#pozo-page-wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    z-index: 0;
    padding: 0 60px;
}
.imgtop {
    padding-top: 90px;
    padding-bottom: 90px;
}
.txt-center {
    text-align: center;
}
.txt-right {
    text-align: right;
}


/* =======  Preloader Style  ======= */
.pozo-pageloading {
    color: #ff0000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #191919;
}
.pozo-pageloading h1 {
    color: #ff0000;
    font-size: 40px;
}
.pozo-pageloading .logo {
    width: 120px;
}
@-webkit-keyframes preloader-breath-img {
    from {
        opacity: .2;
    }
    to {
        opacity: 1;
    }
}
@keyframes preloader-breath-img {
    from {
        opacity: .2;
    }
    to {
        opacity: 1;
    }
}
.pozo-pageloading .pozo-pageloading-inner {
    -webkit-animation-name: preloader-breath-img;
    animation-name: preloader-breath-img;
    -webkit-animation-duration: 1800ms;
    animation-duration: 1800ms;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    -webkit-animation-timing-function: cubic-bezier(0.73, 0.005, 0.42, 1.005);
    animation-timing-function: cubic-bezier(0.73, 0.005, 0.42, 1.005);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/* =======  Lines Style  ======= */
.content-lines-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content-lines-inner {
    position: absolute;
    width: 1140px;
    left: 50%;
    margin-left: -570px;
    top: 0;
    height: 100%;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
}
.content-lines {
    position: absolute;
    left: 33.333333%;
    right: 33.333333%;
    height: 100%;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
}

/* =======  Section Style  ======= */
.section-head {
    overflow: hidden;
    margin: 30px 0;
}
.section-head h4 {
    font-size: 35px;
    font-weight: 400;
    position: relative;
    margin: 0;
}
.section-head h4 span {
    color: #ff0000;
    padding-right: 30px;
}
.section-head h4 span i {
    font-weight: 400;
}
.js .animate-box {
    opacity: 0;
}


/* =======  Navigation Style  ======= */
.pozo-start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 30px 15px;
}
.pozo-start-header.scroll-on {
    padding: 5px 15px;
    -webkit-transition: height .2s ease-out;
    transition: height .2s ease-out;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.4);
    background: #191919;
}
.pozo-start-header.scroll-on .navbar-brand img {
    height: 50px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.pozo-navigation-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navbar {
    padding: 0;
}
.navbar-brand img {
    height: 55px;
    width: auto;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}
.navbar-light .navbar-toggler:hover {
    background: transparent;
}
.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 0px solid #ff0000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: #ff0000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}
.nav-link {
    color: #999 !important;
    font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link {
    color: #ff0000 !important;
}
.nav-item.active .nav-link {
    color: #ff0000 !important;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 15px;
    font-family: 'Playfair Display', serif;
}
.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}
.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #ff0000;
    opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}
.nav-item.active:hover:after {
    opacity: 0;
}
.nav-item {
    position: relative;
    transition: all 200ms linear;
}
/* Dropdown style */
.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    display: block;
    padding: 0;
    margin: 0;
    transition: all 200ms linear;
    background: #222;
    border-radius: 0;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
    max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
    padding: 10px !important;
    margin: 0;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 400;
    color: #999;
    background-color: #ff0000;
    border: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-item {
    padding: 10px 15px;
    color: #999;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    transition: all 200ms linear;
}
.dropdown-item:hover,
.dropdown-item:focus {
    color: #ff0000;
    background-color: #191919;
}
.fa-angle-down {
    font-size: 12px;
}
@media (max-width: 767px) {
    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }
    .nav-item:after {
        height: 0px;
    }
    .pozo-navigation-wrap {
        background: #191919;
    }
}


/* ======= Slider ======= */
.swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    cursor: -webkit-grab;
    cursor: grab;
    z-index: 700;
}
.swiper-button-next,
.swiper-button-prev {
    width: 50px;
    height: 50px;
    background-image: none;
    background-color: #191919;
    z-index: 2;
    cursor: pointer;
}
.swiper-button-next i,
.swiper-button-prev i {
    position: relative;
    left: 50%;
    top: 50%;
    color: #ff0000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out;
}
.next-link {
    display: inline-block;
    width: auto;
    position: relative;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.75em;
    color: #ff0000 !important;
    transition: all .3s ease-in-out;
    padding-left: 100px;
}
.next-link a:hover {
    color: #ff0000;
}
.next-link:before {
    content: '';
    display: inline-block;
    width: 90px;
    height: 1px;
    background: #444;
    position: absolute;
    left: 0;
    bottom: 15px;
}
@-webkit-keyframes arrowRight {
    0% {
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
    50% {
        -webkit-transform: translate(-10px, -50%);
        transform: translate(-10px, -50%);
    }
    100% {
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}
@keyframes arrowRight {
    0% {
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
    50% {
        -webkit-transform: translate(-10px, -50%);
        transform: translate(-10px, -50%);
    }
    100% {
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}
.swiper-button-next:hover i,
.swiper-button-prev:hover i {
    -webkit-animation: arrowRight 1s infinite;
    animation: arrowRight 1s infinite;
}
.swiper-button-next {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
}
.swiper-button-prev {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 100%;
    display: flex;
}
.swiper-slide-block {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    text-align: left;
}
.swiper-slide-block .swiper-slide-block-img {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.swiper-slide-block .swiper-slide-block-img a {
    display: block;
    width: 100%;
    height: 100%;
}
.swiper-slide-block .swiper-slide-block-img img {
    width: 100%;
    height: auto;
    transition: all .3s ease-in-out;
}
.swiper-slide-block .swiper-slide-block-img:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.swiper-slide-block .swiper-slide-block-text {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}
.swiper-slide-block .next-main-title {
    color: #ff0000;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.5em;
    margin: 0;
    word-spacing: 5px;
}
.swiper-slide-block .next-main-subtitle {
    margin: 0 0 20px 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Mukta', sans-serif;
    color: #fff;
    letter-spacing: 4px;
}
.swiper-slide-block .next-main-subtitle span {
    font-family: "Mukta", sans-serif;
    font-size: 12px;
    line-height: 1.75em;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff0000;
}
.swiper-slide-block .next-main-subtitle,
.swiper-slide-block .next-main-title,
.swiper-slide-block .next-paragraph {
    z-index: 2;
    position: relative;
}
.swiper-slide-block .next-paragraph {
    max-width: 413px;
    color: #999;
    margin: 30px 0;
    font-size: 14px;
    line-height: 1.75em;
}
.swiper-slide-block .next-number {
    font-family: 'Playfair Display', serif;
    font-size: 300px;
    font-weight: 400;
    width: 100%;
    display: block;
    color: #222;
    position: relative;
    bottom: 40px;
    z-index: -1;
    text-align: right;
    margin: 0;
    line-height: 200px;
}
.pozo-section-slider {
    width: 100%;
    height: auto;
    background-color: #191919;
}
.pozo-section-slider .next-container-center {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


/* =======  About  ======== */
.about {
    margin-bottom: 30px;
    margin-top: 30px;
}
.about .numb {
    font-size: 200px;
    line-height: 150px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    color: #ff0000;
    margin-bottom: 0;
}
.about .image {
    position: relative;
}
.about .image .img {
    position: relative;
    margin-bottom: 20px;
}
.about .image .img img {}


/* =======  Team  ======== */
.team-holder {
    box-sizing: border-box;
    padding-left: 46px;
    overflow: hidden;
    background: #222;
}
.team-holder,
.team-holder .team-image-holder {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.team-holder .team-image-holder .team-side-info {
    bottom: 10px;
    left: -10px;
    position: absolute;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.team-holder .team-image-holder .team-side-info .team-name,
.team-holder .team-image-holder .team-side-info .team-position {
    display: inline-block;
}
.team-holder .team-name {
    margin: 0;
}
.team-holder .team-position {
    font-family: 'Mukta', sans-serif;
    color: #999;
    margin: 0;
    padding-left: 20px;
    position: relative;
}
.team-holder .team-position:before {
    content: "/";
    left: 5px;
    position: absolute;
    top: 0;
}
ul.team-info-social li {
    display: inline-block;
    margin: 15px 0;
    padding: 5px;
}


/* =======  Services  ======== */
.services .item {
    padding: 40px 20px;
    position: relative;
    background-size: cover;
    background-position: 50% 0% !important;
}
.services .item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(12, 12, 12, 0.5);
}
.services .item:hover:after {
    opacity: 0;
}
.services .item:hover h5,
.services .item:hover p,
.services .item:hover h5 .services .item:hover span {
    color: #fff;
}
.services .item:hover .numb {
    -webkit-text-stroke: 1px #fff
}
.services .item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #191919;
    z-index: 1;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.services .item .con {
    position: relative;
    z-index: 7;
}
.services .item h5 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
}
.services .item .numb {
    font-size: 75px;
    line-height: 75px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    color: transparent;
    -webkit-text-stroke: 1px #ff0000;
    opacity: .9;
    margin-bottom: 20px;
}
.services .item p {
    font-size: 15px;
}
.services .bg-1 {
    background-image: url(../images/services/01.jpg);
}
.services .bg-2 {
    background-image: url(../images/services/02.jpg);
}
.services .bg-3 {
    background-image: url(../images/services/03.jpg);
}
.services .bg-4 {
    background-image: url(../images/services/04.jpg);
}
.services .bg-5 {
    background-image: url(../images/services/05.jpg);
}
.services .bg-6 {
    background-image: url(../images/services/06.jpg);
}


/* ======= Gallery Style  ======= */
.pozo-gallery p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    height: 100%;
    width: 100%;
    padding: 20px;
    transition: all 0.1s linear;
    color: #fff;
}
.pozo-gallery p span {
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.pozo-gallery p span:hover {
    color: #ff0000;
}
.pozo-gallery h5 {
    text-align: center;
    margin-top: 20px;
}
.pozo-photos .pozo-photo-item {
    position: relative;
    margin-bottom: 30px;
}
.pozo-photos .pozo-photo-item:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
}
.pozo-photos .pozo-photo-item .photo-text-more {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 30px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.pozo-photos .pozo-photo-item .photo-text-more .fa .fa-search-plus {
    color: #fff;
    font-size: 20px;
}
.pozo-photos .pozo-photo-item .photo-text-more .heading {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
}
.pozo-photos .pozo-photo-item .photo-text-more .meta {
    color: #cccccc;
    text-transform: uppercase;
    font-size: 12px;
}
.pozo-photos .pozo-photo-item img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (max-width: 575.98px) {
    .pozo-photos .pozo-photo-item img {}
}
.pozo-photos .pozo-photo-item:hover:after {
    opacity: 1;
    visibility: visible;
}
.pozo-photos .pozo-photo-item:hover .photo-text-more {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}
/*  add more style  */
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.pozo-more-trigger {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: 2px solid #ff0000;
    margin: 0 auto;
    position: relative;
}
.pozo-more-trigger:hover {
    background-color: #ff0000;
    border: 2px solid #ff0000;
}
.pozo-more-trigger:hover .plus,
.pozo-more-trigger:hover .plus:after {
    background: #fff;
}
.plus {
    width: 20px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 23px;
    margin: 0 auto;
}
.plus:after {
    content: ' ';
    width: 20px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -sand-transform: rotate(90deg);
}
.pozo-more-wrapper.hidden {
    display: none;
}
.pozo-more-wrapper {
    margin: 30px auto;
}
/* show more animation style */
.pozo-show-more-container {
    visibility: hidden;
    display: none;
    max-height: 0px;
    opacity: 0;
    transition-duration: .5s;
    transition-timing-function: linear;
    height: 100%;
}
.pozo-show-more-container.visible {
    visibility: visible;
    display: block;
    animation: LHC .3s;
    animation-fill-mode: both;
    min-height: 100%;
}
@keyframes LHC {
    from {
        max-height: 0px;
        opacity: 0;
    }
    to {
        opacity: 1;
        margin-top: -60px;
        max-height: 100%;
    }
}
.pozo-show-more-container.animated {
    animation: HCC .5s;
    animation-fill-mode: both;
}
@keyframes HCC {
    from {
        max-height: 2050px;
        opacity: 1;
    }
    to {
        opacity: 0;
        max-height: 0px;
    }
}
.pozo-about-signature {
    width: 160px;
    height: auto;
    margin-bottom: 30px;
}
.pozo-section {
    clear: both;
    width: 100%;
    display: block;
}

.fancybox-caption__body {
        overflow: hidden;
}

/* ======= Projects Style  ======= */
.projects .item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.projects .item:hover img {
    -webkit-filter: none;
    filter: none;
    -webkit-transform: scale(1.09, 1.09);
    transform: scale(1.09, 1.09);
    -webkit-filter: brightness(40%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.projects .item:hover .con {
    bottom: 0;
}
.projects .item img {
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-filter: brightness(100%);
}
.projects .item .con {
    padding: 30px;
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-align: center;
}
.projects .item .con .category {
    color: #ff0000;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 1px;
}
.projects .item .con .category a {
    margin-right: 5px;
    position: relative;
    color: #fff;
    font-weight: 300;
}
.projects .item .con .category a:last-child {
    margin-right: 0;
}
.projects .item .con .category a:last-child:after {
    display: none;
}
.projects .item .con h5 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: none;
}
.projects .item .con h5 a {
    color: #fff;
}
.projects .item .con p {
    color: #fff;
    font-size: 14px;
}
.projects .item .con i {
    color: #ff0000;
    font-size: 20px;
}
.projects .item .con .btn {
    margin-left: 0;
    border-radius: 30px;
    border-color: #999;
    padding: 11px 30px;
}
.projects .item .con .btn:hover {
    border-color: #ff0000;
}


/* =======  Blog  ======= */
.blog .item {
    margin-bottom: 20px;
}
.blog .item .post-img {
    overflow: hidden;
    position: relative;
}
.blog .item .post-img:hover .img {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.blog .item .post-img .img {
    -webkit-transition: all .4s;
    transition: all .4s;
}
.blog .item .cont {
    padding: 15px 15px 0 0;
}
.blog .item .cont h6 {
    font-size: 20px;
    margin-bottom: 0px;
}
.blog .item .cont h6 a:hover {
    color: #ff0000;
}
.blog .item .cont h5 {
    font-size: 40px;
    margin-bottom: 5px;
}
.blog .item .info {
    font-size: 13px;
    color: #999;
    margin-bottom: 10px;
}
.blog .item .info a {
    margin-right: 0px;
    color: #999;
}
.blog .item .info a:last-child {
    margin-right: 0;
}
.blog .item .info b {
    color: #999;
    font-weight: 400;
    padding-right: 10px;
}
/* Pagination */
.pozo-pagination-wrap {
    padding: 0;
    margin: 0;
    text-align: center;
}
.pozo-pagination-wrap li {
    display: inline-block;
    margin: 0 5px;
}
.pozo-pagination-wrap li a {
    background: #222;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #999;
    font-weight: 400;
}
.pozo-pagination-wrap li a:hover {
    opacity: 1;
    text-decoration: none;
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.20);
    background-color: #ff0000;
    color: #fff;
}
.pozo-pagination-wrap li a.active {
    background-color: #ff0000;
    border: 1px solid #ff0000;
    color: #fff;
}
@media screen and (max-width: 768px) {
    .pozo-pagination-wrap {
        padding: 0 0 60px 0;
        margin: 0;
        text-align: center;
    }
}
/* Post */
.next-post-img {
    width: 100%;
}


/* ======= Contact Style ======= */
#contactMap {
    width: 100%;
    height: 500px;
    margin-bottom: 60px;
}
.form-control {
    max-width: 100%;
    margin-bottom: 15px;
    border-color: #ececec;
    padding: 18px 10px 10px;
    height: auto;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0 0 1px;
    border-style: solid;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.75em;
    font-weight: 400;
    color: #191919;
    background-image: none;
    border-bottom: 1px solid #ececec;
    border-color: ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* Form style */
.pozo-form-block {
    padding-left: 0;
    list-style-type: none;
}
.pozo-form-block-child {
    padding-top: 45px;
    margin-left: -20px;
}
.pozo-form-block-item {
    margin-bottom: 30px;
}
.img-wrapper {
    float: left;
    margin-bottom: 40px;
}
.pozo-form-wrapper {
    float: right;
    width: 75%;
}
.pozo-form-icons {
    list-style-type: none;
    padding-left: 0;
    font-family: "Mukta", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #999;
}
.pozo-form-icons li {
    display: inline-block;
    margin-right: 10px;
    font-family: "Mukta", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #999;
}
.pozo-forms-img {
    border-radius: 50%;
    width: 90px;
    max-width: 90px;
}
.pozo-form-icons li span {
    margin-left: 5px;
}


/* ======= Footer styles ======= */
.pozo-footer-container {
    padding: 60px 0;
    border-top: 1px solid #222;
}
@media (min-width: 480px) and (max-width: 767px) {
    .pozo-footer-container {
        padding-top: 15px;
    }
}
/* footer social icons */
.pozo-social-icons {
    margin-bottom: 15px;
}
.pozo-social-icon {
    color: #ff0000;
    font-size: 16px;
    margin: 0 10px;
}
.pozo-social-icons-item {
    display: inline-block;
}
.pozo-copyright {
    color: #999;
    font-size: 13px;
    margin-right: 10px;
    text-align: right;
}
.pozo-copyright span {
    font-size: 13px;
    font-family: 'Mukta', sans-serif;
    color: #ff0000;
}
.pozo-social-link:hover span {
    color: #ff0000;
}
.pozo-separator {
    border-top-width: 1px;
    border-top-color: #222;
    border-top-style: solid;
    margin: 60px 0;
}


/* ======= Media Query ======= */
@media (max-width: 390px) {
    .pozo-form-wrapper {
        width: 58%;
    }
}
@media (max-width: 540px) {
    .pozo-form-block-child li > .img-wrapper {
        margin-left: 30px;
    }
    .pozo-form-wrapper {
        width: 61%;
    }
    .pozo-form-block-child li > .pozo-form-wrapper {
        width: 47%;
    }
}
@media (max-width: 600px) {
    .pozo-form-block-child li > .pozo-form-wrapper {
        width: 75%;
    }
}
@media (max-width: 700px) {
    .pozo-form-wrapper {
        width: 70%;
    }
}
@media (max-width: 767px) {
    #pozo-page-wrapper {
        padding: 0 15px;
    }
    section {
        padding: 0;
    }
}
@media (max-width: 1199px) {
    .pozo-form-wrapper {
        width: 64%;
    }
}
@media (min-width:768px) {
    .swiper-slide-block .swiper-slide-block-text {
        margin-top: 100px;
    }
}
@media (min-width:992px) {
    .pozo-section-slider .swiper-container-horizontal:after {
        content: "";
        display: block;
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 2;
        background: linear-gradient(to top, #191919, rgba(25, 25, 25, 0));
    }
    .pozo-section-slider .next-container-center {
        max-width: 1245px;
        width: 100%;
    }
}
@media (min-width:1200px) {
    .pozo-section-slider {
        padding-bottom: 40px;
    }
    .swiper-container {
        height: 610px;
    }
    .swiper-button-next {
        right: 135px;
        background-color: #191919;
    }
    .swiper-button-prev {
        bottom: 50px;
        background-color: #191919;
    }
    .swiper-slide-block .swiper-slide-block-img {
        width: 70%;
        max-height: 560px;
        height: 560px;
        max-width: 825px;
        overflow: hidden;
        position: relative;
    }
    .swiper-slide-block .swiper-slide-block-img img {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
    }
    .swiper-slide-block .swiper-slide-block-text {
        width: 30%;
        height: 100%;
        max-height: 560px;
        max-width: 285px;
        position: absolute;
        background-color: transparent;
        top: 0;
        right: 0;
        margin-top: 0;
        padding: 0;
    }
    .swiper-slide-block .swiper-slide-block-text:before {
        content: "";
        display: block;
        width: 200px;
        max-width: 408px;
        height: 100%;
        background-color: #222;
        position: absolute;
        left: -50px;
    }
    .swiper-slide-block .next-main-title {
        margin-top: 150px;
    }
    .swiper-slide-block .next-number {
        margin-top: 20px;
        font-size: 250px;
    }
}
@media (min-width: 1000px) and (max-width: 1399px) {
    .pozo-form-block-child li > .pozo-form-wrapper {
        width: 80%;
    }
}
@media (min-width: 1200px) and (max-width: 1300px) {
    .pozo-form-wrapper {
        width: 80%;
    }
}