.chat-application .chat-app {
  height: calc(100vh - 9rem);
  border: 1px solid #DFE3E7;
  border-radius: 5px;
}

.chat-app .chat-app-right {
  padding-left: 0;
}
.chat-app .chat-app-header .person-name {
  font-size: 1.2rem;
}
.chat-app .chat-app-body .left {
  border-right: 1px solid #e9ecef;
}
.chat-app .chat-app-body ul {
  padding-left: 0;
  overflow-y: auto;
}
.chat-app .chat-app-body .the-contact {
  list-style: none;
  padding: 1.5rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #e9ecef;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 0;
  position: relative;
}
.chat-app .chat-app-body .the-contact.active {
  background-color: #41464b;
}
.chat-app .chat-app-body .the-contact.active .person-name, .chat-app .chat-app-body .the-contact.active .message-excerpt {
  color: #fff;
}
.chat-app .chat-app-body .the-contact .notification-count {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.chat-app .chat-app-body .the-contact:hover {
  cursor: pointer;
}
.chat-app .chat-app-body .the-contact:not(.active):hover {
  background-color: #e9ecef;
  transition: all 0.1s;
}
.chat-app .chat-app-body .the-contact .verified-badge {
  width: 1.4em;
  height: 1.4em;
  padding: 0;
}
.chat-app .chat-app-body .the-contact .person-name {
  font-size: 1.1rem;
  margin-bottom: 0;
  font-weight: bold;
  color: #495057;
  display: flex;
  align-items: center;
}
.chat-app .chat-app-body .the-contact .message-excerpt {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 0;
}
.chat-app .chat-app-footer {
  position: relative;
  height: 100%;
}
.chat-app .chat-app-footer .input-message-wrapper {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  background-color: #fff;
  width: 100%;
  right: 0;
}
.chat-app .messages {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.chat-app .messages .message {
  background-color: #dee2e6;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0.8rem;
  margin: 1rem 1rem;
  float: left;
  max-width: 600px;
}
.chat-app .messages .message.message-right {
  float: right;
  background-color: tint-color(#364b98, 20%);
  color: #fff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 0;
}

@media screen and (max-width: 1200px) {
  .chat-app .chat-app-left {
    right: 100%;
  }
  .chat-app .chat-app-right {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 15px !important;
  }
  .chat-app .chat-app-right .chat-app-header > div {
    padding: 0 2rem;
  }
}
